<template>
    <div>
        <h2 class="device">
            <label for="">Thiết bị mạng</label>
        </h2>
        <div class="list-device row">
            <div v-for="device in devices" :key="device.id" class="items col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="#">
                    <img :src="device.img" :alt="device.name">
                </a>
                <a href="#" class="name">
                    <div class="font-weight-bold">{{ device.name }}</div>
                </a>
                <div class="price">{{ formatnumbers(device.price) }}</div>
                <div class="status">{{ device.price ? 'Sẵn hàng' : 'Hết hàng' }}</div>
                <div class="overlay" v-if="loading">
                    <a-spin></a-spin>
                </div>
                <a-button @click="addonetocart(device)" type="primary" danger style="width: 100%;">Thêm vào giỏ
                    hàng</a-button>
            </div>
        </div>
    </div>
</template>
<script>
import numeral from 'numeral';
import * as types from '../../store/mutation-types'
import { mapMutations } from 'vuex'
import { h } from 'vue'
import { LoadingOutlined } from '@ant-design/icons-vue';
import { format } from "date-fns";

export default {
    name: 'Devices',
    data() {
        return {
            devices: [
                { id: 1, name: 'Card mạng không dây USB TP-Link', price: 250000, status: true, img: 'https://www.sieuthimaytinhlangson.com/storage/uploads/products/05032023/RkDAEA7XyhCIP4a.JPG' },
                { id: 2, name: 'Bộ kích sóng wifi TP-Link TL-WR850RE', price: 350000, status: true, img: 'https://www.sieuthimaytinhlangson.com/storage/uploads/products/08032023/8ZHcdTXOwAkGRpn.jpg' },
                { id: 3, name: 'Bộ phát wifi TP-Link TL-WR940N Wireless', price: 750000, status: true, img: 'https://www.sieuthimaytinhlangson.com/storage/uploads/products/08032023/b4j7vS0BKUKwrhQ.jfif' },
                { id: 4, name: 'TPLink 840N Wi-Fi tốc độ 300Mbps', price: 350000, status: true, img: 'https://www.sieuthimaytinhlangson.com/storage/uploads/products/06032023/DhQVYUWk63knD9a.JPG' },
            ]
        }
    },
    methods: {
        formatnumbers(number) {
            return numeral(number).format('0,0') + 'đ'
        },
        addonetocart(device) {
            this.$store.dispatch('increment', device)
            if (this.$cookies.get('cart') !== null) {
                if (this.$cookies.get('cart').find(item => item.id === device.id)) {
                    this.$cookies.set('cart', this.$cookies.get('cart').map(item => {
                        if (item.id === device.id) {
                            item.quantity++
                            item.time = format(new Date(), 'HH:mm:ss dd/MM/yyyy')
                        }
                        return item
                    }))
                }
                else
                    this.$cookies.set('cart', ([...this.$cookies.get('cart'), { ...device, time: format(new Date(), 'HH:mm:ss dd/MM/yyyy'), quantity: 1 }]))
            }
            else {
                this.$cookies.set('cart', [{ ...device, time: format(new Date(), 'HH:mm:ss dd/MM/yyyy'), quantity: 1 }])
            }
            // this.$cookies.remove('cart')
            // console.log(this.$cookies.get('cart'))
        },
        ...mapMutations(
            [types.ADD_TO_CART]
        ),
    },
    computed: {
        loading() {
            return this.$store.state.loading;
        },
        indicator() {
            return h(LoadingOutlined, {
                style: {
                    fontSize: '24px',
                },
                spin: true,
            });
        },
    }
}
</script>