<script>
import Header from "@/components/Shared/Header.vue"
import Footer from "@/components/Shared/Footer.vue"
export default {
  components: {
    Header,
    Footer
  },
  data() {
    return {
      message: 'Hehe'
    }
  },
}
</script>
<template>
  {{ this.$store.commit('getCart', this.$cookies.get('cart')) }}
  <Header />
  <router-view />
  <Footer />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">